<li class="wish" i="<%= my_gift_list_item.id %>">
  <%= image_tag my_gift_list_item.image.url(:thumbnail) %>
  <span class="wish-label <%= get_state_class(my_gift_list_item) %>">
    <%= my_gift_list_item.name %>
    <span class="time-distance">
      (<%= distance_of_time_in_words_to_now(my_gift_list_item.created_at) %> ago)
    </span>
  </span>
  <% if !my_gift_list_item.done? %>
    <a href="javascript:void(0);" class="checkout" title="check out">✔</a>
  <% end %>
  <% if !my_gift_list_item.done? %>
    <a href="javascript:void(0);" class="edit" title="edit">✏</a>
  <% end %>
  <a href="javascript:void(0);" class="remove" title="remove">✖</a>
</li>