<h1>Listing gifts</h1>
<div style="width:45%; float:left;">
<% if @gifts %>
  <ul id='gift_list'>
    <% @gifts.each do |gift| %>
      <li class="wish" i="<%= gift.id %>">
        <a href="#wish<%= gift.id %>" class='wish-link'>
          <span>
            <% if gift.image %>
              <img src="<%= gift.image.image.url(:thumbnail) %>" alt="<%= gift.name %>" />
            <% end %>
            <span class="wish-label <%= get_state_class(gift) %>">
              <%= gift.name %>
              <span class="time-distance">
                (<%= distance_of_time_in_words_to_now(gift.created_at) %> ago)
              </span>
            </span>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <span class='empty'>
    You haven't add any record to your wishlist
  </span>
<% end %>
</div>

<div id="gifts_details" style="width:45%; float:left;"></div>

<br />

<%= link_to 'New gift', new_gift_path %>

<script type='text/javascript'>
  _gifts_index_js("<%= url_for @gifts.last %>")
</script>