<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @page_title or 'Page Title' %></title>
	<%= stylesheet_link_tag 'style'  %>
	<%= javascript_include_tag 'jq/jquery.js' %>
	<%= javascript_include_tag 'jq/ui.js' %>
	<%= javascript_include_tag 'jq/script.js' %>
</head>

<body>
  <%= render :partial => "users/user_bar" %>
  <div id='notice-bar' style='display: none;'></div>
  <%= yield %>

</body>
</html>
